{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
</head>
<body>

<div class="split right">
  {% block body-right %}

  {% endblock %}
</div>

<div class="split left">
  <div class="top-bar">
    <h1 class="display-6 text-center"> Simulating Markets Using Epistemic Logic</h1>
    <h2>
        <a href="{% url 'home' %}" class="btn btn-light">Simulation</a>
        <a href="{% url 'introduction' %}" class="btn btn-light">Introduction</a>
        <a href="{% url 'problem_description' %}" class="btn btn-light">Problem Description</a>
        <a href="{% url 'model' %}" class="btn btn-light">Model</a>
        <a href="{% url 'experiments' %}" class="btn btn-light">Experiments</a>
    </h2>
  </div>
  {% block body-left %}

  {% endblock %}
</div>

</body>
</html>
