{% extends 'base.html' %}

{% block body-left %}
<div class = "content_box">
<p>
    <h1> Conclusion </h1>
    When using the simulation to inspect the behaviour of transaction prices with different numbers of
    buyers and sellers, it can be concluded that our simulation shows realistic results. It follows
    the natural laws of supply and demand, where an inbalance in the two leads to higher or lower prices.
    In the case where there are too many buyers compared to the number of sellers, both market situations showed
    that the price started to raise and stabilize at a higher value. In extreme situations, both
    the negotiation and the grocery store situation very quickly converged to the maximum price.<br>
    This can be explained by the fact that there is more demand of the product compared to the supply.
    Therefore, the sellers have 'the upper hand', about the price. Buyers want the product, and because
    there is not enough of the product for all, they must be willing to pay more than other buyers, hence
    the price is raising.<br>
    Vice versa both simulations showed that the price reaches its minimum when there are too much sellers
    on the market. There are more products than there are buyers, hence the only way as a seller to sell
    your product is to sell it for less than the other sellers, hence the price decreases.<br>
    When there is not an extreme inbalance between supply and demand, it can be observed that several
    equilibriums are reached, respecting the supply and demand behaviour (relatively more buyers lead
    to an increase of the final price).<br>
    Furthermore, the simulation shows a logical behaviour with respect to the sharing of knowledge and
    higher order reasoning. This can be seen when the number of buyers is slightly higher or equal to
    the number of sellers. Because the buyers share knowledge about the price and who sold which price,
    the buyers have an advantage over the sellers, forcing the sellers to compete harder with each other.
    Buyers have a much better idea about the complete market than the sellers do, due to the sharing of
    knowledge with each other. This explains why the price is in favor of the buyers when the number of
    buyers is close to the number of sellers. It is shown that when the number of interactions to exchange knowledge
    increases, the price converges and reaches its equilibrium faster. When sellers exchange knowledge
    instead of buyers, an inverse behaviour is observed, in which the price converges in favor of the sellers.
    When no knowledge is exchanged, an equilibrium price which is optimal for both buyers and sellers
    is reached.
</p>
</div>
{% endblock %}



{% block body-right %}

{% endblock %}
