{% extends 'base.html' %}

{% block body-left %}
<div class = "content_box left_box">
  <h1>Simulation</h1>
  <p>
      At this page, simulations can be run, setting the parameters for the simulation yourself.
      Below, all the possible parameters are explained. NOTE: for all parameters goes: do not make them too large, or else you are in for a long wait.
      <ul>
      <li>
      <h4>Market Situation</h4>
      <ul>
          <li>Negotation: In this scenario, buyers and sellers negotiate with each other to determine a transaction price.</li>
          <li>Grocery Store: In this scenario, a seller sets a price for his/her product in advance, and the buyer can either take it or leave it.</li>
      </ul>
      </li>

      <li>
      <h4>Days for simulation</h4>
      <p>Number of days to run the simulation.</p>
      </li>

      <li>
      <h4>Number of buyers</h4>
      <p>This is the number of buyers that try to buy products every day. Default value is 100. Maximum number of buyers should lie around 1000.</p>
      </li>

      <li>
      <h4>Number of sellers</h4>
      <p>The number of sellers that try to sell products every day. Default value is 100. Maximum number of buyers should lie around 1000.</p>
      </li>

      <li>
      <h4>Minimum price</h4>
      <p>The minimum price possible in the simulation. Agents will not consider prices lower than this value.</p>
      </li>

      <li>
      <h4>Maximum price</h4>
      <p>The maximum price possible in the simulation. Agents will not consider prices higher than this value.</p>
      </li>

      <li>
      <h4>Buyer interactions</h4>
      <p>Number of pairs of buyers that will interact at the end of every day. Pairs are selected randomly.</p>
      </li>

      <li>
      <h4>Seller interactions</h4>
      <p>Number of pairs of sellers that will interact at the end of every day. Pairs are selected randomly.</p>
      </li>
      </ul>
  </p>
</div>
<div class="top-bar">
</div>
<div class="content_box right_box">
  <div class="form">
      <form method="post">
      {% csrf_token %}
      <table style="border: none;">
          {{ form.as_table }}
      </table>
      <br>
      <input type="submit" class="btn btn-warning" value="Start Simulation" formaction="{% url 'start_sim' %}">
      <p> Running the simulation might take some seconds! </p>
    </form>
  </div>
</div>
{% endblock %}
