{% extends 'base.html' %}

{% block body-left %}
<h1>Introduction</h1>
<p>A price is determined by supply and demand. In general circumstances this means that if there is more demand compared to the supply (thus a product is scarce), the price will go up, as sellers have 'the upper hand' in the market situation. When there is more supply then there is demand, the price will go down. More informally, there is too much of a product, hence sellers lower their price to make the product more attractive to buyers. In this study, such a market situation will be modelled using Epistemic Logic. Sellers and buyers are considered agents in this study and every agent will have a certain set of knowledge/belief about the price.</p>
{% endblock %}



{% block body-right %}

{% endblock %}
