@font-face {
  font-family: 'Alegreya';
  src: local('Alegreya'),
       url('../static/fonts/Alegreya-Regular.ttf') format("truetype");
}

body {
  color: white;
  font-size: 18px;
}

.split {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: black;
  padding: 0px;
}

.right {
  right: 0;
  background-color: #a52a2a;
}
.top-bar{
  left:0;
  position: relative;
  background-color: #008080;
  padding: auto;
  text-align: center;
}
.centered{
  position: relative;
  left: 25%;
  text-align: center;
}
.messages{
  position: relative;
  right: 10%;
  text-align: center;
}

.btn.btn-warning {
            background-color: white ;
            padding: 10px 16px;
            font-size: 16px;
            text-align: center;
}
.intro{
  padding: 35px;
  text-align: justify;
}
.results{
  width:100%;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 6px 18px 6px 18px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.column{
    float: left;
    width: 50%;
    padding:5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

table {
  border: none;
}
.content_box {
  font-family: "Alegreya";
  border-radius: 15px;
  border: 5px solid #15f4ee;
  display: inline-block;
  width: 90%;
  height: :auto;
  padding: 50px;
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
  background-color: #1fe0;
  overflow-x: hidden;
}
.left_box{
  float: left;
  width: 60%;
  margin-right:  10px;
}

.right_box{
  margin-left: 10px;
  width: 30%;
  overflow-x: hidden;
}
.header{
  padding: 50px;
  background-color: :#ffc857;
}

.form{
  text-align: center ;
}
